@model IEnumerable<EzyBills.Models.Vendor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VendorUsername)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SetVendorPassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VendorEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VendorPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoreName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VendorUsername)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SetVendorPassword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VendorEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VendorPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StoreName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VendorID }) |
            @Html.ActionLink("Details", "Details", new { id=item.VendorID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VendorID })
        </td>
    </tr>
}

</table>
